<splash-screen></splash-screen>
<section class="padding overlay">
  <h1>FAVWFT-VR</h1>
  <img src="img/warnerBrosLogo.png" width="40" height="40">
  <p class="animated flash infinite slow">Fantastic Videos and Where to Find Them<br>Tap to start ...</p>
</section>
<section class="left padding overlay">
  <h1>FAVWFT-VR</h1>
  <img src="img/warnerBrosLogo.png" width="40" height="40">
  <p class="animated flash infinite slow">Fantastic Videos and Where to Find Them<br>Tap to start ...</p>
</section>
